<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <% Object.keys(data).forEach(function(socketId) { %>
        <% if (data[socketId].gui === false) { %>
          <li class="dataitem"><%= data[socketId].uuid %>:<%= data[socketId].data %></li>
        <% } %>
      <% }) %>
    </ul>
  </body>
</html>
