<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <table class="table mt-5">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">uuid</th>
            <th scope="col">data</th>
          </tr>
        </thead>
        <tbody>
          <% Object.keys(data).forEach(function(socketId) { %>
            <% if (data[socketId].gui === false) { %>
              <% if (highlightRow(socketId)) { %>
                <tr class="table-primary">
                  <th class="data-item-id" scope="row"><%= socketId %></th>
                  <td class="data-item-uuid"><%= data[socketId].uuid %></td>
                  <td class="data-item-data"><%= data[socketId].data %></td>
                </tr>
              <% } else { %>
                <tr>
                  <th class="data-item-id" scope="row"><%= socketId %></th>
                  <td class="data-item-uuid"><%= data[socketId].uuid %></td>
                  <td class="data-item-data"><%= data[socketId].data %></td>
                </tr>
              <% } %>
            <% } %>
          <% }); %>
        </tbody>
      </table>
    </div>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>
